# 💾 Session login file
session-*
session-jreef__

# 📂 Thư mục chứa ảnh đã tải về 
data/images/
insta_img
pinterest_img

# 🐍 Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 📦 Môi trường ảo (virtualenv)
tfa

# 📝 Log files
*.log

# 💥 Thư mục tạm / backup
*.bak
*.tmp
*.swp
.DS_Store

# VSCode / IDE
.vscode/
.idea/

merge.py
m.py